.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.titulo{
  height: 10vh;
  background-color:rgb(41,128,185);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  font-weight: bold;
}

.iniciales{
  background-color: black;
  color: white;
  padding: 5px;
}

.producto{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.Productos{
  width: 98%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: flex-start;
  padding: 10px;
}

img{
  width: 170px;
    height: 170px;
  transition: all 0.3s ease;
}

.imagen_carrito{
  width: 100%;
  height: 100%;
}

img:hover{
  transform: scale(1.1);
}

.descripcion{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: 10px;
}

h6, h5, h4{
  margin-block: 10px;
}

.CarritoContainer {
  position: absolute;
  width: 95%;
  right: 10px; 
  left: 10px;
  background-color: white; /* Cambia el fondo a blanco o el color deseado */
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  margin-block-start: 1105px;
  height: 1000px;
}

button{
  background-color: rgb(0, 119, 106);
  border-radius: 8px;
  border-color: rgb(56, 142, 133);
  font-family: 'Raleway', sans-serif;
  padding: 5px;
}